@{
    ViewBag.Title = "Hệ thống đào tạo trực tuyến";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listHomeProducts = (List<Model.Models.Product>)ViewBag.HomeProducts;
    var listHomeExams = (List<Model.Models.Exam>)ViewBag.HomeExams;
    var homeInfor = (Model.Dao.HomeInfor)ViewBag.HomeInfor;

}

@section CustomHomeCSS
{
    <!-- slider stylesheet -->
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link href="~/assets/client/newBanner/css/bootstrap.css" rel="stylesheet" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/assets/client/newBanner/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/assets/client/newBanner/css/responsive.css" rel="stylesheet" />
}

@section CustomHomeJavaScript
{
    <script type="text/javascript" src="~/assets/client/newBanner/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/assets/client/newBanner/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <!-- owl carousel script -->
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 0,
            navText: [],
            center: true,
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
}

<div class="container" style="margin-top: 15px; margin-bottom:20px">
    <div class="row align-items-center g-5">
        <section class="slider_section position-relative hero_area" style="background-image: url('../assets/client/newBanner/images/hero.jpg'); background-size: cover; padding: 25px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="font-size: 2.5em">
                                                    Hành trang kiến thức
                                                </h1>
                                                <h2 style="font-size: 1.5rem">
                                                    Giúp bạn phát triển sự nghiệp và hoàn thiện kiến thức của bản thân với hàng ngàn khóa học Online.
                                                </h2>
                                                <div>
                                                    <a href="~/dang-nhap" class="text-white" style="border: none; background-color: #00BDFF">
                                                        Bắt đầu học ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="~/assets/client/newBanner/images/banner1.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="font-size:2.5rem">
                                                    Dành cho mọi người
                                                </h1>
                                                <h2 style="font-size:1.5rem">
                                                    Bạn ở vị trí nào cũng đều có kiến thức dành riêng cho bạn.
                                                </h2>
                                                <div class="">
                                                    <a href="~/dang-nhap" class="text-white" style="border: none; background-color: #00BDFF">
                                                        Bắt đầu học ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="~/assets/client/newBanner/images/banner2.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="font-size:2.5rem">
                                                    Vô vàn các khóa học
                                                </h1>
                                                <h2 style="font-size: 1.5rem">
                                                    Học bất cứ điều gì bạn muốn bao gồm công nghệ thông tin, ngoại ngữ, kinh tế, ...
                                                </h2>
                                                <div class="">
                                                    <a href="~/dang-nhap" class="text-white" style="border: none; background-color: #00BDFF">
                                                        Bắt đầu học ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="~/assets/client/newBanner/images/banner3.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="font-size:2.5rem">
                                                    Kiến thức chuyên nghiệp
                                                </h1>
                                                <h2 style="font-size: 1.5rem">
                                                    Vô vàn các khóa học được cấp chứng nhận.
                                                </h2>
                                                <div class="">
                                                    <a href="~/dang-nhap" class="text-white" style="border: none; background-color: #00BDFF">
                                                        Bắt đầu học ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="~/assets/client/newBanner/images/banner4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="detail-box">
                                            <div>
                                                <h1 style="font-size:2.5rem">
                                                    Giá trị thực tế
                                                </h1>
                                                <h2 style="font-size: 1.5rem">
                                                     Những kiến thức giúp bạn tạo ra giá trị thực tế
                                                </h2>
                                                <div class="">
                                                    <a href="~/dang-nhap" class="text-white" style="border: none; background-color: #00BDFF">
                                                        Bắt đầu học ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="~/assets/client/newBanner/images/banner5.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- =======================
Main Banner END -->
<!-- =======================
Counter START -->
<section class="py-0 py-xl-5">
    <div class="container">
        <div class="row g-4">
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
                <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
                    <span class="display-6 lh-1 text-warning mb-0"><i class="fas fa-tv"></i></span>
                    <div class="ms-4 h6 fw-normal">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="@homeInfor.CountProduct" data-purecounter-delay="200">0</h5>
                            <span class="mb-0 h5">+</span>
                        </div>
                        <p class="mb-0">Khóa học online</p>
                    </div>
                </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
                <div class="d-flex justify-content-center align-items-center p-4 bg-blue bg-opacity-10 rounded-3">
                    <span class="display-6 lh-1 text-blue mb-0"><i class="fas fa-user-tie"></i></span>
                    <div class="ms-4 h6 fw-normal">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="@homeInfor.CountTeacher" data-purecounter-delay="200">0</h5>
                            <span class="mb-0 h5">+</span>
                        </div>
                        <p class="mb-0">Giảng viên</p>
                    </div>
                </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
                <div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-10 rounded-3">
                    <span class="display-6 lh-1 text-purple mb-0"><i class="fas fa-user-graduate"></i></span>
                    <div class="ms-4 h6 fw-normal">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="@homeInfor.CountStudent" data-purecounter-delay="200">0</h5>
                            <span class="mb-0 h5">+</span>
                        </div>
                        <p class="mb-0">Học viên</p>
                    </div>
                </div>
            </div>
            <!-- Counter item -->
            <div class="col-sm-6 col-xl-3">
                <div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
                    <span class="display-6 lh-1 text-info mb-0"><i class="bi bi-patch-check-fill"></i></span>
                    <div class="ms-4 h6 fw-normal">
                        <div class="d-flex">
                            <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="@homeInfor.CountCertification" data-purecounter-delay="300">0</h5>
                            <span class="mb-0 h5">+</span>
                        </div>
                        <p class="mb-0">Khóa học có chứng nhận</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Counter END -->
<!-- =======================
Popular course START -->
<section>
    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="fs-1">Các khóa học mới nhất</h2>
                <p class="mb-0">Chọn từ hàng trăm khóa học từ các tổ chức chuyên môn</p>
            </div>
        </div>

        <!-- Tabs START -->
        <ul class="nav nav-pills nav-pills-bg-soft justify-content-sm-center mb-4 px-3" id="course-pills-tab" role="tablist">
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5">
                <button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1" aria-selected="false">CNTT</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-2" type="button" role="tab" aria-controls="course-pills-tabs-2" aria-selected="false">Ngoại ngữ</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-3" type="button" role="tab" aria-controls="course-pills-tabs-3" aria-selected="false">Marketing</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-4" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-4" type="button" role="tab" aria-controls="course-pills-tabs-4" aria-selected="false">Tin học văn phòng</button>
            </li>
            <!-- Tab item -->
            <li class="nav-item me-2 me-sm-5">
                <button class="nav-link mb-2 mb-md-0" id="course-pills-tab-5" data-bs-toggle="pill" data-bs-target="#course-pills-tabs-5" type="button" role="tab" aria-controls="course-pills-tabs-5" aria-selected="false">Bán hàng</button>
            </li>
        </ul>
        <!-- Tabs END -->
        <!-- Tabs content START -->
        <div class="tab-content" id="course-pills-tabContent">
            <!-- Content START -->
            <div class="tab-pane fade show active" id="course-pills-tabs-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                <div class="row g-4">
                    @foreach (var item in listHomeProducts.Where(x => x.CategoryID == 1).Take(8))
                    {
                        ViewBag.product = item;
                        Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");

                    }
                </div> <!-- Row END -->
            </div>
            <!-- Content END -->
            <!-- Content START -->
            <div class="tab-pane fade" id="course-pills-tabs-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
                <div class="row g-4">
                    @foreach (var item in listHomeProducts.Where(x => x.CategoryID == 2).Take(8))
                    {
                        ViewBag.product = item;
                        Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");
                    }
                </div>
            </div>
            <!-- Content END -->
            <!-- Content START -->
            <div class="tab-pane fade" id="course-pills-tabs-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
                <div class="row g-4">
                    @foreach (var item in listHomeProducts.Where(x => x.CategoryID == 5).Take(8))
                    {
                        ViewBag.product = item;
                        Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");
                    }
                </div>
            </div>
            <!-- Content END -->
            <!-- Content START -->
            <div class="tab-pane fade" id="course-pills-tabs-4" role="tabpanel" aria-labelledby="course-pills-tab-4">
                <div class="row g-4">
                    @foreach (var item in listHomeProducts.Where(x => x.CategoryID == 3).Take(8))
                    {
                        ViewBag.product = item;
                        Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");
                    }
                </div>
            </div>
            <!-- Content END -->
            <!-- Content START -->
            <div class="tab-pane fade" id="course-pills-tabs-5" role="tabpanel" aria-labelledby="course-pills-tab-5">
                <div class="row g-4">
                    @foreach (var item in listHomeProducts.Where(x => x.CategoryID == 7).Take(8))
                    {
                        ViewBag.product = item;
                        Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");
                    }
                </div>
            </div>
            <!-- Content END -->
        </div>
        <!-- Tabs content END -->
    </div>
</section>
<!-- =======================
Popular course END -->
<!-- =======================
Action box START -->
<section class="pt-0 pt-lg-5">
    <div class="container position-relative">
        <!-- SVG decoration START -->
        <figure class="position-absolute top-50 start-50 translate-middle ms-2">
            <svg>
                <path class="fill-white opacity-4" d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z" />
                <path class="fill-white opacity-4" d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z" />
                <path class="fill-white opacity-4" d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z" />
                <path class="fill-white opacity-4" d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z" />
            </svg>
        </figure>
        <!-- SVG decoration END -->

        <div class="row">
            <div class="col-12">
                <div class="bg-info p-4 p-sm-5 rounded-3">
                    <div class="row position-relative">
                        <!-- Svg decoration -->
                        <figure class="fill-white opacity-1 position-absolute top-50 start-0 translate-middle-y">
                            <svg width="141px" height="141px">
                                <path d="M140.520,70.258 C140.520,109.064 109.062,140.519 70.258,140.519 C31.454,140.519 -0.004,109.064 -0.004,70.258 C-0.004,31.455 31.454,-0.003 70.258,-0.003 C109.062,-0.003 140.520,31.455 140.520,70.258 Z" />
                            </svg>
                        </figure>
                        <!-- Action box -->
                        <div class="col-11 mx-auto position-relative">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-lg-7">
                                    <h3 class="text-white">Trở thành một người hướng dẫn!</h3>
                                    <p class="text-white mb-3 mb-lg-0">Nhanh chóng nói có cách xử lý phù hợp thêm cậu bé. Trên dặm hoài nghi của đứa trẻ. Tập thể dục niềm vui người đàn ông trẻ em vui mừng. Tuy nhiên, số mười người của anh ta giảm đi một cách đáng kinh ngạc.</p>
                                </div>
                                <!-- Content and input -->
                                <div class="col-lg-5 text-lg-end">
                                    <a href="#" class="btn btn-outline-warning mb-0">Bắt đầu dạy ngay hôm nay</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row END -->
                </div>
            </div>
        </div> <!-- Row END -->
    </div>
</section>
<!-- =======================
Action box END -->
<!-- =======================
Trending courses START -->
<section class="pb-5 pt-0 pt-lg-5">
    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="fs-1">Ngân hàng câu hỏi trắc nghiệm</h2>
                <p class="mb-0">Các bài ôn tập 🔥 Các bài thi lấy chứng chỉ</p>
            </div>
        </div>
        <div class="row">
            <!-- Slider START -->
            <div class="tiny-slider arrow-round arrow-blur arrow-hover">
                <div class="tiny-slider-inner pb-1" data-autoplay="true" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
                    @foreach (var itemexam in listHomeExams)
                    {
                        ViewBag.exam = itemexam;
                        Html.RenderPartial("~/Views/PartialView/ExamCard.cshtml");
                    }
                </div>
            </div>
            <!-- Slider END -->
        </div>
    </div>
</section>
<!-- =======================
Trending courses END -->
<!-- =======================
Reviews START -->
<section class="bg-light">
    <div class="container">
        <div class="row g-4 g-lg-5 align-items-center">
            <div class="col-xl-7 order-2 order-xl-1">
                <div class="row mt-0 mt-xl-5">
                    <!-- Review -->
                    <div class="col-md-7 position-relative mb-0 mt-0 mt-md-5">
                        <!-- SVG -->
                        <figure class="fill-danger opacity-2 position-absolute top-0 start-0 translate-middle mb-3">
                            <svg width="211px" height="211px">
                                <path d="M210.030,105.011 C210.030,163.014 163.010,210.029 105.012,210.029 C47.013,210.029 -0.005,163.014 -0.005,105.011 C-0.005,47.015 47.013,-0.004 105.012,-0.004 C163.010,-0.004 210.030,47.015 210.030,105.011 Z"></path>
                            </svg>
                        </figure>

                        <div class="bg-body shadow text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                            <!-- Avatar -->
                            <div class="avatar avatar-xl mb-3">
                                <img class="avatar-img rounded-circle" src="/assets/client/images/avatar/01.jpg" alt="avatar">
                            </div>
                            <!-- Content -->
                            <blockquote>
                                <p>
                                    <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                                    Moonlight báo lên sự thích thú của nó tùy thuộc vào. Giọng ca chia sẻ kịp thời khiến anh chàng được lòng giới trẻ ồn ào. Tại đám cưới tin rằng cười
                                    <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                                </p>
                            </blockquote>
                            <!-- Rating -->
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
                            </ul>
                            <!-- Info -->
                            <h6 class="mb-0">Carolyn Ortiz</h6>
                        </div>
                    </div>

                    <!-- Mentor list -->
                    <div class="col-md-5 mt-5 mt-md-0 d-none d-md-block">
                        <div class="bg-body shadow p-4 rounded-3 d-inline-block position-relative">
                            <!-- Icon -->
                            <div class="icon-lg bg-warning rounded-circle position-absolute top-0 start-100 translate-middle">
                                <i class="bi bi-shield-fill-check text-dark"></i>
                            </div>
                            <!-- Title -->
                            <h6 class="mb-3">100+ Verified Mentors</h6>
                            <!-- Mentor Item -->
                            <div class="d-flex align-items-center mb-3">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-1" src="/assets/client/images/avatar/09.jpg" alt="avatar">
                                </div>
                                <!-- Info -->
                                <div class="ms-2">
                                    <h6 class="mb-0">Lori Stevens</h6>
                                    <p class="mb-0 small">Tutor of physic</p>
                                </div>
                            </div>

                            <!-- Mentor Item -->
                            <div class="d-flex align-items-center mb-3">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-1" src="/assets/client/images/avatar/04.jpg" alt="avatar">
                                </div>
                                <!-- Info -->
                                <div class="ms-2">
                                    <h6 class="mb-0">Billy Vasquez</h6>
                                    <p class="mb-0 small">Tutor of chemistry</p>
                                </div>
                            </div>

                            <!-- Mentor Item -->
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-1" src="/assets/client/images/avatar/02.jpg" alt="avatar">
                                </div>
                                <!-- Info -->
                                <div class="ms-2">
                                    <h6 class="mb-0">Larry Lawson</h6>
                                    <p class="mb-0 small">Tutor of technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->

                <div class="row mt-5 mt-xl-0">
                    <!-- Rating -->
                    <div class="col-7 mt-0 mt-xl-5 text-end position-relative z-index-1 d-none d-md-block">
                        <!-- SVG -->
                        <figure class="fill-danger position-absolute top-0 start-50 mt-n7 ms-6 ps-3 pt-2 z-index-n1 d-none d-lg-block">
                            <svg enable-background="new 0 0 160.7 159.8" height="180px">
                                <path d="m153.2 114.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m116.4 114.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m134.8 114.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m135.1 96.9c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m153.5 96.9c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m98.3 96.9c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <ellipse cx="116.7" cy="99.1" rx="2.1" ry="2.2" />
                                <path d="m153.2 149.8c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.3 0.9-2.2 2.1-2.2z" />
                                <path d="m135.1 132.2c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2 0-1.3 0.9-2.2 2.1-2.2z" />
                                <path d="m153.5 132.2c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.3 0.9-2.2 2.1-2.2z" />
                                <path d="m80.2 79.3c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2z" />
                                <path d="m117 79.3c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m98.6 79.3c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m135.4 79.3c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m153.8 79.3c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m80.6 61.7c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <ellipse cx="98.9" cy="63.9" rx="2.1" ry="2.2" />
                                <path d="m117.3 61.7c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <ellipse cx="62.2" cy="63.9" rx="2.1" ry="2.2" />
                                <ellipse cx="154.1" cy="63.9" rx="2.1" ry="2.2" />
                                <path d="m135.7 61.7c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m154.4 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m80.9 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m44.1 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m99.2 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2z" />
                                <ellipse cx="117.6" cy="46.3" rx="2.1" ry="2.2" />
                                <path d="m136 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m62.5 44.1c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m154.7 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <path d="m62.8 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <ellipse cx="136.3" cy="28.6" rx="2.1" ry="2.2" />
                                <path d="m99.6 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m117.9 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2z" />
                                <path d="m81.2 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2-0.1-1.2 0.9-2.2 2.1-2.2z" />
                                <path d="m26 26.5c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2c-1.2 0-2.1-1-2.1-2.2s0.9-2.2 2.1-2.2z" />
                                <ellipse cx="44.4" cy="28.6" rx="2.1" ry="2.2" />
                                <path d="m136.6 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2 0.1 1.2-0.9 2.2-2.1 2.2z" />
                                <path d="m155 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2 0.1 1.2-0.9 2.2-2.1 2.2z" />
                                <path d="m26.3 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2s-0.9 2.2-2.1 2.2z" />
                                <path d="m81.5 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2s-0.9 2.2-2.1 2.2z" />
                                <path d="m63.1 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2s-0.9 2.2-2.1 2.2z" />
                                <path d="m44.7 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2s-0.9 2.2-2.1 2.2z" />
                                <path d="m118.2 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2 0.1 1.2-0.9 2.2-2.1 2.2z" />
                                <path d="m7.9 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2 0.1 1.2-0.9 2.2-2.1 2.2z" />
                                <path d="m99.9 13.2c-1.2 0-2.1-1-2.1-2.2s1-2.2 2.1-2.2c1.2 0 2.1 1 2.1 2.2s-1 2.2-2.1 2.2z" />
                            </svg>
                        </figure>

                        <div class="p-3 bg-primary d-inline-block rounded-4 shadow-lg text-center" style="background:url(/assets/client/images/pattern/02.png) no-repeat center center; background-size:cover;">
                            <!-- Info -->
                            <h5 class="text-white mb-0">4.5/5.0</h5>
                            <!-- Rating -->
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
                            </ul>
                            <p class="text-white mb-0">Dựa trên 3265 lượt đánh giá</p>
                        </div>
                    </div>

                    <!-- Review -->
                    <div class="col-md-5 mt-n6 mb-0 mb-md-5">
                        <div class="bg-body shadow text-center p-4 rounded-3">
                            <!-- Avatar -->
                            <div class="avatar avatar-xl mb-3">
                                <img class="avatar-img rounded-circle" src="/assets/client/images/avatar/03.jpg" alt="avatar">
                            </div>
                            <!-- Content -->
                            <blockquote>
                                <p>
                                    <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                                    Tại các đám cưới, người ta tin rằng sẽ cười mặc dù tờ báo Moonlight tùy theo mức độ thích thú.
                                    <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                                </p>
                            </blockquote>
                            <!-- Rating -->
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                                <li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
                            </ul>
                            <!-- Info -->
                            <h6 class="mb-0">Dennis Barrett</h6>
                        </div>
                    </div>
                </div> <!-- Row END -->
            </div>
            <div class="col-xl-5 order-1 text-center text-xl-start">
                <!-- Title -->
                <h2 class="fs-1">Một số phản hồi có giá trị từ sinh viên của chúng tôi</h2>
                <p>Giả sử như vậy hãy giải quyết bữa sáng sáng hoặc hoàn hảo. Nó đã vẽ ra một ngọn đồi từ tôi. Thung lũng của oh hai mươi hướng dẫn tôi như vậy. Khởi hành khiếm khuyết sắp xếp cuồng nhiệt tin tưởng hắn đều đã ủng hộ. Những tháng ngày gia đình kéo dài đơn giản tạo nên bản chất thô tục cho anh. Hình ảnh cho niềm vui cố gắng vui mừng mười mang cách cư xử nói chuyện.</p>
                <a href="#" class="btn btn-primary mb-0">Xem các bài đánh giá</a>
            </div>
        </div> <!-- Row END -->
    </div>
</section>
