@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Eduport- LMS, Education and Course Theme">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/client/images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/client/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/vendor/tiny-slider/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/vendor/glightbox/css/glightbox.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/client/css/style.css">
    @RenderSection("Childcss", required: false)


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7N7LGGGWT1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7N7LGGGWT1');
    </script>

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        @RenderBody()
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    <!-- =======================

    <!-- Back to top -->
    <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

    <script src="/assets/admin/libs/jquery/jquery.min.js"></script>
    <script src="/assets/admin/libs/jquery/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/assets/client/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="/assets/client/vendor/tiny-slider/tiny-slider.js"></script>
    <script src="/assets/client/vendor/glightbox/js/glightbox.js"></script>
    <script src="/assets/client/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

    <!-- Template Functions -->
    @RenderSection("jsFooter", required: false)
    <script src="/assets/client/js/functions.js"></script>

</body>


</html>