
<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteLable">Bạn không có quyền thực hiện hành động này</h4>
            </div>
        </div>
    </div>
</div>