@model List<Model.Models.Product>
@{
    ViewBag.Title = "Danh sách các khóa học trực tuyến";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.Models.ProductCategory)ViewBag.Category;
    var catename = "";
    var cateid = 0.0;

    if (category != null)
    {
        ViewBag.Title = "Khóa học " + "-" + category.Name;
        catename = category.Name;
        cateid = category.ID;
    }

}
@section Childcss
{
    <link rel="stylesheet" type="text/css" href="/assets/client/vendor/choices/css/choices.min.css">
}
@section jsFooter
{
    <script src="/assets/client/vendor/choices/js/choices.min.js"></script>
}
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-light p-4 text-center rounded-3">
                    <h1 class="m-0">DANH SÁCH KHÓA HỌC TRỰC TUYẾN</h1>
                    <!-- Breadcrumb -->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-dots mb-0">
                                <li class="breadcrumb-item"><a href="\trang-chu">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Khóa học @catename</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Page Banner END -->
<!-- =======================
Page content START -->
<section class="pt-0">
    <div class="container">

        <!-- Filter bar START -->
        <form class="bg-light border p-4 rounded-3 my-4 z-index-9 position-relative" role="search" method="get">
            <div class="row g-3">
                <!-- Input -->
                <div class="col-xl-4">
                    <input class="form-control me-1" type="text" name="searchString" placeholder="Tìm kiếm khóa học">
                </div>

                <!-- Select item -->
                <div class="col-xl-7">
                    <div class="row g-3">
                        <!-- Select items -->
                        <div class="col-sm-6 col-md-3 pb-2 pb-md-0">
                            <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">
                                <option value="">Categories</option>

                                <option>All</option>
                                <option>Development</option>
                                <option>Design</option>
                                <option>Accounting</option>
                                <option>Translation</option>
                                <option>Finance</option>
                                <option>Legal</option>
                                <option>Photography</option>
                                <option>Writing</option>
                                <option>Marketing</option>
                            </select>
                        </div>

                        <!-- Search item -->
                        <div class="col-sm-6 col-md-3 pb-2 pb-md-0">
                            <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">
                                <option value="">Price level</option>
                                <option>All</option>
                                <option>Free</option>
                                <option>Paid</option>
                            </select>
                        </div>

                        <!-- Search item -->
                        <div class="col-sm-6 col-md-3 pb-2 pb-md-0">
                            <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">
                                <option value="">Skill level</option>
                                <option>All levels</option>
                                <option>Beginner</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                            </select>
                        </div>

                        <!-- Search item -->
                        <div class="col-sm-6 col-md-3 pb-2 pb-md-0">
                            <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm example">
                                <option value="">Language</option>
                                <option>English</option>
                                <option>Francas</option>
                                <option>Russian</option>
                                <option>Hindi</option>
                                <option>Bengali</option>
                                <option>Spanish</option>
                            </select>
                        </div>
                    </div> <!-- Row END -->
                </div>
                <!-- Button -->
                <div class="col-xl-1">
                    <button type="submit" class="btn btn-primary mb-0 rounded z-index-1 w-100"><i class="fas fa-search"></i></button>
                </div>
            </div> <!-- Row END -->
        </form>
        <!-- Filter bar END -->

        <div class="row mt-3">
            <!-- Main content START -->
            <div class="col-12">

                <!-- Phân trang -->
                @{
                    //string parameters = Request.Url.ToString().Split('-'); , searchString = Request.Url.ToString().g, cateId = 

                    var pagingmodel = new OnlineCourse.Models.PagingModel()
                    {
                        currentPage = (int)ViewBag.currentPage,
                        countPages = (int)ViewBag.countPages,
                        generateUrl = (int? p) => Url.Action("-trang-", new { page = p })
                    };

                    Html.RenderPartial("~/Views/Shared/_Paging.cshtml", pagingmodel);
                }


                <!-- Course Grid START -->
                <div class="row g-4">
                    @if (cateid == 0)
                    {
                        foreach (var item in Model)
                        {
                            ViewBag.product = item;
                            Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Where(x => x.CategoryID == category.ID))
                        {
                            ViewBag.product = item;
                            Html.RenderPartial("~/Views/PartialView/CourseCard.cshtml");

                        }
                    }
                </div>
                <!-- Course Grid END -->
            </div>
            <!-- Main content END -->
        </div><!-- Row END -->
    </div>
</section>
<!-- =======================
Page content END -->
